#xcode 
*.o
*.lo
*.la
*.a
*.pyc
*.moved-aside
*.ipa
*.xcuserstate
*.hmap
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspective3
*.xcuserdatad
.*.swp
.DS_Store
*.so.[0-9]*
